$color__registered: 'yellow';

$color__initialized: 'deep yellow';

$color__requested-attention: 'red';

$color__suspended: 'yellow';


$color__resumed: 'yellow';


$color__completed: 'green';

$color__passed: 'green';


$color__failed: 'red';